@model Anotai.Models.Noticia

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Anotaí - Administrador</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="~/Content/assets/css/animate.min.css" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    <link href="~/Content/assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />

    <link href="assets/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="~/Content/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="orange">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a class="simple-text"><img src="~/Content/img/Logo_Escrita.fw.png"></a>
                </div>

                <ul class="nav">
                    <li class="active">
                        <a href="@Url.Action("Noticia", "Administrador")">
                            <i class="pe-7s-tools"></i>
                            <p>Gerenciar Notícias</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="pe-7s-user"></i>
                            <p>Meu Perfil</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Rendimentos", "Administrador")">
                            <i class="pe-7s-graph"></i>
                            <p>Relatório Rendimento</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Home", "Home")">
                            <i class="pe-7s-left-arrow"></i>
                            <p>Sair</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Gerenciador de Notícias</a>
                    </div>
                </div>
            </nav>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            @if (ViewBag.Cadastrado == "Sim")
                            {
                                <div class="alert alert-success">
                                    <a href="#" class="close" data-dismiss="alert">×</a>
                                    <strong>Sucesso!</strong> A notícia foi cadastrada com sucesso.
                                </div>
                            }
                            else if (ViewBag.Cadastrado == "Não")
                            {
                                <div class="alert alert-danger">
                                    <a href="#" class="close" data-dismiss="alert">×</a>
                                    <strong>Erro!</strong> Todos os campos são obrigatórios. Preencha-os antes de salvar.
                                </div>
                            }
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Cadastrar Notícia</h4>
                                    <p class="category">Cadastre suas notícias utilizando o formulário abaixo</p>
                                </div>
                                <div class="content table-responsive table-full-width" style="margin:0px">
                                    @using (Html.BeginForm("CadastrarNoticia", "Administrador"))
                                    {
                                        <div class="form-group">
                                            <label>Título</label>
                                            @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>Descrição Notícia</label>
                                            @Html.TextAreaFor(model => model.Mensagem, new { @class = "form-control", rows = "3" })
                                        </div>

                                        <div class="form-group">
                                            <input type="submit" value="Salvar" class="btn btn-light" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Gerenciar Notícias</h4>
                                    <p class="category">Edite ou apague notícias com o gerenciador abaixo</p>
                                </div>
                                <div class="content table-responsive table-full-width">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Como Funciona
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Baixe o App
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script> <a href="#">Anotai</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</body>

<!--   Core JS Files   -->
<script src="~/Content/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Content/assets/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="~/Content/assets/js/bootstrap-checkbox-radio-switch.js"></script>

<!--  Charts Plugin -->
<script src="~/Content/assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="~/Content/assets/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="~/Content/assets/js/light-bootstrap-dashboard.js"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="~/Content/assets/js/demo.js"></script>


</html>